@media screen and (max-width:768px) {
    .k_banner {
        width: 100%;
    }

    .k_menus {
        width: 50% !important;
    }

    .k_banner .k_dish {
        width: 100%;
        left: 0;
        right: 0;
    }

    .k_content_shape {
        left: 100px;
    }

    .k_banner .k_content {
        width: 100%;
        margin-top: 240px;
    }

    .k_banner .k_content h1 {
        font-size: 50px !important;
    }

    .k_banner .k_content h5 {
        font-size: 20px !important;
    }

    .k_banner .k_content p {
        font-size: 15px !important;
    }



    .k_pricing_container {
        top: 40%;
    }

    .k_testimonial #carouselExampleIndicators {
        height: 550px;
    }
    .k_contact form {
        width: 100%;
    }
}

@media screen and (max-width:1358px) {
    .k_price_img_box img {
        object-position: 0px;
    }
}